<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <app-navbar></app-navbar>
  <!-- StopWatch Div starts -->
  <div class="container-fluid maindiv">
    <div class="container">

      <form style="margin-top: 50px;" [formGroup]="projectForm" class="form-inline">
        <!-- <form style="margin-top: 50px;" #pForm='ngForm' (ngSubmit)="Register(pForm)"  class="form-inline"> -->
        <!-- Project Name Goes here -->
        <div class="form-group ">
          <input type="text" formControlName="pTitle" class="form-control mr-2 w-100" name="pTitle"
            placeholder="What Are You Working On?" size="50" required>

        </div>
        
        <!------------------------------- Project Button -------------------------------->
        <!-- <div class="btn text-primary " style="font-size: 20px;" *ngIf="!cs" (click)="createSelect()" >
          <i class="fa fa-plus-circle"></i>
          Project
        </div>-->
        <div>
          <mat-form-field>
            <mat-label><i class="fa fa-plus-circle"></i> Project </mat-label>
            <mat-select value="selected" name="pName" formControlName="pName" >
              <mat-optgroup label="--Select Project--"></mat-optgroup>
              <mat-option [value]="p.value" *ngFor="let p of projects">{{p.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Dotted Line -->
        <div class="v1 mr-3 ml-3"></div>

        <!-- Quote for Motivation -->
        <small *ngIf="!buttona" class="form-text text-muted mr-3 ml-3">Your Time will be
          Recorded.</small>
        <small *ngIf="buttona" class="form-text text-muted mr-3 ml-3">Code never lies Comments
          do.</small>

        <!-- Quote for Motivation Ends -->
        <div class="v1 mr-3 ml-3"></div>

        <!-- STOPWATCH START-->
        <div style="font-size:25px; margin-left: 10px;">{{timeLefthh}}:{{timeLeftmm}}:{{timeLeft}}</div>
        <div *ngIf=buttona>
          <button class="btn btn-primary ml-2" (click)="startTimer()" [disabled]=!buttona> START </button>
        </div>
        <div *ngIf=!buttona>
          <button class="btn btn-danger ml-2" (click)="pauseTimer();" id="Register" (focus)="appchild.addWork()"
            [disabled]=buttona> STOP </button>
        </div>


        <!-- User Symbol And Username -->
        <div class="ml-auto text-body" style="font-size: 40px;">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{username}}
        </div>


        <!-- STOPWATCH END-->
        <!-- Dotted Line -->
      </form>
    </div>
  </div>
  <!-- StopWatch Div Ends -->
  {{thours}}
  <app-showtimesheet [wtime]="totaltime" [etime]="endtime" #appchild></app-showtimesheet>
</body>

</html>