<html>

<head>

    <meta charset="UTF-8">


</head>

<body style="background-color: rgb(242, 246, 248) ">
    <div class="container pl-5 pt-5 pb-5 mt-5" >
        <div class="row">
            <div class="card mr-2 mb-2 bg-secondory" style="width: 350px;" *ngFor="let d of getTask[0].tasks; let i=index">
                <!-- <div *ngIf="userEmail==userTask.pEmail"> -->
                    <div class="card-header bg-secondory">{{d.pName}}</div>
                    <div class="card-body">You Worked ON: {{d.pTitle}}</div>
                    <div class="card-body"> Start Session Time :{{d.pStartTime}} </div>
                    <div class="card-body"> End Session Time :{{d.pEndTime}} </div>
                    <div class="card-footer bg-secondory" >Session Time :{{d.PSessionTime}}</div> 
                <!-- </div> -->
            </div>
        </div>
    </div>
    
    

</body>

</html>