<html>

<head>

</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="card mr-2" style="width: 350px;">
                <div class="card-header">Project Name</div>
                <div class="card-body">Total Work In HOURS : {{wtime}} </div>
                <div class="card-footer">Total Working Hours : 08:00:00</div>
            </div>
            <div class="card mr-2" style="width: 350px;">
                <div class="card-header">Project Name</div>
                <div class="card-body">Total Work In HOURS : {{wtime}} </div>
                <div class="card-footer">Total Working Hours : 08:00:00</div>
            </div>
            <div class="card mr-2   " style="width: 350px;">
                <div class="card-header">Project Name</div>
                <div class="card-body">Total Work In HOURS : {{wtime}} </div>
                <div class="card-footer">Total Working Hours : 08:00:00</div>
            </div>
        </div>
    </div>
</body>

</html>