<html>

<head>

</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="card mr-2" style="width: 350px;">
                <div class="card-header">Project 1</div>
                <div class="card-body">You Worked For : 3:05:00 Hours</div>
                <div class="card-body"> 1st session : 00:50:00 Hours </div>
                <div class="card-footer">Left Hours to Complite: 4:55:00 Hours</div>
            </div>
            <div class="card mr-2" style="width: 350px;">
                <div class="card-header">Project 1</div>
                <div class="card-body">You Worked For : 3:05:00 Hours</div>
                <div class="card-body"> 1st session : 00:50:00 Hours </div>
                <div class="card-footer">Left Hours to Complite: 4:55:00 Hours</div>
            </div>
            <div class="card mr-2   " style="width: 350px;">
                <div class="card-header">Project 1</div>
                <div class="card-body">You Worked For : 3:05:00 Hours</div>
                <div class="card-body"> 1st session : 00:50:00 Hours </div>
                <div class="card-footer">Left Hours to Complite: 4:55:00 Hours</div>
            </div>
        </div>
    </div>
</body>

</html>