  <!-- Nav bar Start -->
  <nav class="navbar navbar-expand-sm bg-darkl navbar-light">

    <ul class="navbar-nav  ">
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/timesheet']">Time Sheet</a>
      </li>
      <li class="nav-item font-weight-bold">
        <a class="nav-link " [routerLink]="['/timesheet']">Home</a>
      </li>
      <li class="nav-item font-weight-bold  ">
        <a class="nav-link" href="#">Hours Worked</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <div class="ml-auto" >
      <button mat-raised-button color="primary"  [routerLink]="['/login']">LOGIN</button>
    </div>
  </nav>

  <!-- Nav bar End -->
 